body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 72px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Impact', fantasy;
    text-decoration: underline;
    white-space: nowrap;
    margin: auto;
}

table {
    width: 600px;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
}

.centrador {
    display: grid;
    justify-content: center;
    margin: auto;
}

th,
td {
    border: 1px solid #ccc;
    text-align: center;
}

td[contenteditable="true"] {
    background-color: #f9f9f9;
    cursor: text;
}

.selector-3x3 {
    width: 100%;
    height: 0;
}

.selector-3x3 td {
    border: none;
    text-align: center;
    position: relative;
    width: 33.33%;
    height: 33.33%;
    padding: 0;
}

.selector-3x3 img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.selector-3x3 td img:hover {
    filter: brightness(50%);
}

#pistas {
    margin-top: 350px;
    width: 350px;
    padding: 10px;
    text-align: center;
}

#pistas p {
    margin: 10px 0;
    padding: 10px;
}

.escala-grises {
    filter: grayscale(100%);
    opacity: 0.25;
}

#zebra-puzzle>tbody>tr>td {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 2px solid #000000;
    height: 100px;
}

#zebra-puzzle th {
    background-color: rgba(178, 178, 178, 1);
    text-align: center;
    height: 20px;
    border: 2px solid #000000;
}

#zebra-puzzle th img {
    width: 85px;
    height: auto;
    display: block;
    margin: auto;
    padding: 15px;
}

.categorias {
    padding: 15px;
}

#zebra-puzzle th.no-style {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

.opciones {
    display: none;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: auto;
}

.pistas-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}

.pistas-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pista-btn {
    background: #ccc;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 32px;
    cursor: pointer;
    padding: 0 10px;
    transition: background-color 0s ease, box-shadow 0s ease;
}

.pista-btn:hover {
    background-color: #bbb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.pista-btn:active {
    background-color: #aaa;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.pista-btn:focus {
    outline: none;
}

.pistas-header h2 {
    margin: 0 10px;
    font-size: 32px;
    display: inline-block;
    width: 140px;
    text-align: center;
    color: #000;
}

.pista-checkbox {
    display: block;
    margin: 0 auto;
    transform: scale(1.5);
    margin-bottom: 5px;
}

.global-cell {
    position: relative;
}

.global-cell img.apagada {
    opacity: 0.5;
    filter: grayscale(100%);
}

.global-cell.apagada {
    background-color: rgba(255, 0, 0, 0.1);
}

.global-cell-2 {
    background-color: rgba(255, 0, 0, 0.1);
}